@import '~@teambit/base-ui.theme.colors/colors.module.scss';

/**
 * CSS colors and variables for the app.
 */

.primaryPalette {
	color: $d50;
	--bit-text-color: #{$d50};
	--bit-text-color-heavy: #{$d60};
	--bit-text-color-light: #{$d40};
	--bit-text-inactive: #{$d30}; // TBD

	--bit-border-color: #{$d20};
	--bit-border-color-heavy: #{$d30};
	--bit-border-color-light: #{$d15};
	--bit-border-color-lightest: #{$d10};

	// -- accent -- //
	--bit-accent-color: #{$p50};
	--bit-accent-heavy: #{$p60};
	--bit-accent-light: #{$p40};
	--bit-accent-text: #{$p50};
	--bit-accent-text-heavy: #{$p60};
	--bit-text-on-accent: #{$w10};
	--bit-accent-bg: #{$p20};
	--bit-accent-bg-heavy: #{$p30};

	// -- background -- //
	// // higher number = more important, and 'closer' to the user.
	// --bit-bg-01: #{$w10};
	// --bit-bg-03: #{$w20};
	// --bit-bg-05: #{$d10};
	// --bit-bg-07: #{$d15};
	// --bit-bg-09: #{$d20};
	// --bit-bg-11: #{$d30};

	// intractable item
	--bit-bg-color: #{$w10};	// when resting
	--bit-bg-heavy: #{$w20};	// when hovering, focus
	--bit-bg-heaviest: #{$d10}; // when active (clicked)

	--bit-bg-heaviest: #{$d10}; // e.g. when active hovering
	--bit-bg-bedrock: #{$w10}; // i.e. <body/> background
	--bit-bg-navigation: #{$w20}; // i.e. <body/> background
	--bit-bg-overlay: #{$w10}; // e.g. button, input, etc
	--bit-bg-modal: #{$w10}; // e.g. button, input, etc
	--bit-bg-tooltip: #{$w10}; // e.g. button, input, etc
	--bit-bg-tooltip-heavy: #{$w20};
	--bit-bg-dent: #{$w20};

	// -- error -- //
	// might replace with 'error' theme
	--bit-error-color: #{$r50};
	--bit-error-heavy: #{$r60};
	--bit-error-light: #{$r40};
	--bit-error-bg: #{$r20};
	--bit-error-bg-heavy: #{$r30};


}
