/**
 * Margin css-variables definitions for headlines.
 * -   `--bit-h1Margin: 20px;`
 * -   `--bit-h2Margin: 20px;`
 * -   `--bit-h3Margin: 20px;`
 * -   `--bit-h4Margin: 8px;`
 * -   `--bit-h5Margin: 8px;`
 * -   `--bit-h6Margin: 8px;`
 * -   `--bit-h7Margin: 8px;`
 *
 * To use, add class `headingMargins` to your root component.
 */

.headingMargins {
	--bit-h1Margin: 20px;
	--bit-h2Margin: 20px;
	--bit-h3Margin: 20px;
	--bit-h4Margin: 8px;
	--bit-h5Margin: 8px;
	--bit-h6Margin: 8px;
	--bit-h7Margin: 8px;

	//////////////////////////////////////
	// temp, will be removed next week: //
	//////////////////////////////////////

	--h1Margin: 20px;
	--h2Margin: 20px;
	--h3Margin: 20px;
	--h4Margin: 8px;
	--h5Margin: 8px;
	--h6Margin: 8px;
	--h7Margin: 8px;
}
