/*
	should apply rules from current split pane only,
	even when nested in other split panes
	(also known as SPiSP mode)
 */

 /* TODO - remove legacy 'row-reverse' and 'column-reverse' after updating bitsrc */
 
.split-pane-container{
	height: 100%; width: 100%;
	display: flex;
}
.split-pane-container.row.reverse,
.split-pane-container.row-reverse {
	flex-direction: row-reverse;
}
.split-pane-container.row {
	flex-direction: row;
}
.split-pane-container.column {
	flex-direction: column;
}
.split-pane-container.column.reverse,
.split-pane-container.column-reverse {
	flex-direction: column-reverse;
}

.split-pane {
	display: flex;
	flex-shrink: 1;
	flex-grow: 1;
	position: relative;
}

.column > .split-pane {
	height: 0%;
	width: 100%;
}

.row > .split-pane {
	height: 100%;
	width: 0%;
}

/* $exaggeratedMs */
.row-reverse:not(.split-pane-dragging) > .split-pane,
.row.reverse:not(.split-pane-dragging) > .split-pane,
.row:not(.split-pane-dragging) > .split-pane{
	/* transition: width 1270ms, flex-grow 1270ms; */
}

.column-reverse:not(.split-pane-dragging) > .split-pane,
.column.reverse:not(.split-pane-dragging) > .split-pane,
.column:not(.split-pane-dragging) > .split-pane {
	/* transition: height 1270ms, flex-grow 1270ms; */
}

.split-pane-dragging > .split-pane {
	user-select: none;
	pointer-events: none;
}

.row.reverse > .splitter,
.row-reverse > .splitter, .row > .splitter{
	cursor: col-resize;
	height: 100%;
}
.column.reverse > .splitter,
.column > .splitter, .column-reverse > .splitter{
	cursor: row-resize;
	width: 100%;
}

.splitter {
	/* fix splitter hiding behind the Monaco Editor */
	z-index: 0;
}

.column-handle {
	display: none;
}
.row-handle {
	display: none;
}

.column-reverse > .splitter .column-handle,
.column > .splitter .column-handle, .column-reverse > .splitter .column-handle{
	display: inline;
}

.row.reverse > .splitter .row-handle,
.row > .splitter .row-handle, .row-reverse > .splitter .row-handle{
	display: inline;
}