/**
 * css variables definition, for brand colors.
 * @example
 * <div className={brands}>{children}</div>
 */

.brands {
	--bit-github-bg: #2b2b2b;
	--bit-brand-text: #ffffff;
	--bit-slack-bg: #4a154b;
	--bit-twitter-bg: #1da1f2;
}

// TODO - move to Evangelist
