.preview {
	padding: 4px;
	border-radius: 4px;
	width: 200px;
	border: 1px solid var(--bit-border-color);
}

.bg {
	background: var(--bit-accent-bg);
	padding: 4px;
	border-radius: 4px;

	&:hover {
		background: var(--bit-accent-bg-heavy);
	}
}

.accentText {
	color: var(--bit-accent-text);

	&:hover {
		color: var(--bit-accent-text-heavy);
	}
}

.btn {
	background: var(--bit-accent-color);
	color: var(--bit-text-on-accent);

	&:hover {
		background: var(--bit-accent-heavy);
	}
}
