.bedrock {
	background: var(--bit-bg-bedrock);
}

.base {
	background: var(--bit-bg-color);
}

.layer {
	background: var(--bit-bg-color);
}

.crust {
	background: var(--bit-bg-tooltip);
}

.topping {
	background: var(--bit-bg-color);
	&:hover {
		background: var(--bit-bg-heavy);
	}
}

.dent {
	background: var(--bit-bg-dent);
}
