@import '~@teambit/base-ui.theme.colors/colors.module.scss';

.darkMod {
	color: #{$d10};
	--bit-text-color: #{$d10};
	--bit-text-color-heavy: #{$w20};
	--bit-text-color-light: #{$d30};
	--bit-text-inactive: #{$d40}; // add to white mod

	--bit-border-color: #{$d50};
	--bit-border-color-heavy: #{$d40};
	--bit-border-color-light: #{$d60};
	--bit-border-color-lightest: #{$d60}; //TBD

	// -- accent -- //
	--bit-accent-color: #{$p30};
	--bit-accent-heavy: #{$p20};
	--bit-accent-light: #{$p40};
	--bit-accent-text: #{$p30};
	--bit-accent-text-heavy: #{$p20};
	--bit-text-on-accent: var(--bit-text-color, #{$d10});
	--bit-accent-bg: #{$p50};
	--bit-accent-bg-heavy: #{$p40};

	// -- background -- //
	// // higher number = more important, and 'closer' to the user.
	// --bit-bg-01: #{$d70};
	// --bit-bg-03: #{$w20};
	// --bit-bg-05: #{$d10};
	// --bit-bg-07: #{$d15};
	// --bit-bg-09: #{$d20};
	// --bit-bg-11: #{$d30};
	--bit-bg-color: #{$d70}; // default background
	--bit-bg-heavy: #{$d60}; // e.g. when active hovering
	--bit-bg-bedrock: #{$d70}; // i.e. <body/> background
	--bit-navigation: #{$d60}; // i.e. <body/> background
	--bit-bg-overlay: #{$d60}; // e.g. button, input, etc
	--bit-bg-modal: #{$d60}; // e.g. button, input, etc
	--bit-bg-tooltip: #{$d60}; // e.g. button, input, etc
	--bit-bg-tooltip-heavy: #{$d50};
	--bit-bg-dent: #{$d60};

	// -- error -- //
	// might replace with 'error' theme
	--bit-error-color: #{$r30};
	--bit-error-heavy: #{$r20};
	--bit-error-light: #{$r40};
	--bit-error-bg: #{$r70};
	--bit-error-bg-heavy: #{$r60};

}
